body{
    background-color: rgb(185, 128, 128);
    margin: 0px;
    width: 100%;
}

.logo{
    height: 120px;
    /* display: block; */
    /* margin: auto; */
}

.logo:hover{
    /* background-color: #111; */
    transition: 0.4s;
    opacity: 0.7;
}

/* .dropdown {
    position: relative;
    display: inline-block;
} */

.dropbtn {
    background: none;
    /* background-color: #04AA6D; */
    /* color: white; */
    padding: 0px;
    /* font-size: 16px; */
    border: none;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    /* 543/300 times logo height */
    width: 126px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a.active{
    /* color: #088178; */
    /* transition: 0.9s ease; */
    background-color: aqua;
}

.dropdown-content a:hover {
    background-color: azure;
}

header{
    background-color: #dbd5d5;
    /* Logo height-4px */
    height: 116px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
}

.navigation{
    /* text-align: right; */
    /* flex-direction: row; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.navigation a{
    color: rgb(18, 18, 19);
    /* display: inline-flex; */
    padding: 0px;
    margin: 10px;
    text-decoration: none;
    /* background-color: rgb(181, 190, 46); */
}

.navigation a:hover, .navigation a.active{
    color: #088178;
    transition: 0.3s ease;
}

#search-form{
    padding: 10px;
    display: flex;
    justify-content: center;
}

#search-form input{
    width: 60%;
}

@media screen and (max-width: 500px) {
    .navigation {
      display: none;
    }
}